<!DOCTYPE html> 
<html>
<head>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css"> 
  <link rel="stylesheet" href="/static/board.css">
  <link rel="stylesheet" href='spectrum.css' />
</head>
<body>
  {% if sess['username'] %}
  Currently logged in as: <span id="loguser">{{sess['username']}}</span><br>
  {% else %}
  Not logged in.
  {% endif %}
  {% if post %}
  {% if errorlist %}
  an error occurred:<br>
  <ul>
  {% for error in errorlist %}
  <li>{{error}}</li>
  {% endfor %}
  </ul>
  {% else %}
  successful
  {% endif %}
  {% endif %}
  <hr>
  <h1>
    {{board['title']}} - {% if board['owner'] %}{{board['owner']}}{% else %}Anonymous{% endif %}
    <button id="saveboardbutton">Save Board</button>
    <input type='text' id="full"/>
  </h1>
  <hr>
  <table border="1" padding="0"><tr>
  <td>
    <canvas id="draw" width="640" height="480"></canvas>
  </td>
  <td>
    <div id="chatcontainer">
      <div id="chatmain">
      </div>
      <div id="chatinput">
        <button id="chatsendbutton">Send</button>
        <span id="chatinputspan">
          <input id="chattext" type="text"></input>
        </span>
      </div>
    </div>
  </td>
  </tr></table>
  DEBUGOUT: <span id="debug"></span>
  <hr>
  <a href = "/boards">Return to board list</a>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery.js') }}">\x3C/script>')</script>
  <script src="/static/whiteboard.js"></script>
  <script src="spectrum.js"></script>
</body> 
</html>
